.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.welcomeMessage {
  text-align: center;
  font-size: 1.2rem;
}
.input {
  padding: 15px;
  border-radius: 10px;
  width: 85%;
  height: 100%;
  display: flex;
  margin: auto;
}

.input:hover {
  scale: 1.03;
}

/* .inputForm:focus-within {
  border: 1.5px solid #2d79f3;
} */

.showPswBtn {
  font-size: 12px;
  margin-top: 0;
  margin-left: 5px;
  text-decoration: underline;
}

.showPswBtn:hover {
  cursor: pointer;
}

.input[type="password"] {
  margin-bottom: 0;
}

.span {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.firstAndLastName {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.firstAndLastName input {
  width: 50%;
}

.inputs input {
  width: 100%;
  margin-bottom: 12px;
}

.submit {
  border: none;
  outline: none;
  background-color: #151717;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  width: 100%;
}

.submit:hover {
  scale: 1.03;
  cursor: pointer;
}

.backButton{
  width: 85%;
  background-color: transparent;
  border: none;
  display: flex;
  
  align-items: center;
  margin-left: 5px;
  /* background-color: black; */
}