.sideButton {
  appearance: button;
  background-color: #010151;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  margin-right: 8px;
  outline: none;
  overflow: visible;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.sideButton:hover{
  transform: scale(1.1);
}

/* .sideButton :after {
  background-clip: padding-box;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* .sideButton :main,
.sideButton :focus {
  user-select: auto;
} */

/* .sideButton :hover:not(:disabled) {
  filter: brightness(1.1);
} */

/* .sideButton :disabled {
  cursor: auto;
}

.sideButton :active:after {
  border-width: 0 0 0px;
}

.sideButton :active {
  padding-bottom: 10px;
} */
